html {
    font-size: 62.5%;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}


body {
    font-family: "Open Sans";
    color: #808080;
    //Smooting the HTML in the browser
    -webkit-font-smooting: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: transparent;
}

@import 'layout';
@import 'headerNavBar';
@import 'page-title';
@import 'details';

//AUTH
@import 'auth/signin';
@import 'auth/signup';
@import 'form-fields';

//ACCOUNT
@import 'account/account-information.scss';
@import 'account/account';
@import 'account/purchase-history.scss';

//SHOP
@import 'shop/shop.scss';
@import 'shop/search-bar.scss';
@import 'shop/shop-product.scss';

//CART
@import 'shop/shop-cart.scss';
@import 'shop/cart-product.scss';

//Quantity
@import 'quantity';
@import 'green-price-tag.scss';

//REVIEW
@import 'order/review.scss';